#conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia
transformers
datasets
soundfile
accelerate
sounddevice
soundfile
speechbrain
numpy
scipy
huggingface-hub
ipykernel
jupyter
bitsandbytes
faster_whisper
pyaudio
requests
pillow
pandas